{% extends 'main/layout.html' %}
{% load static %}
{% block title %}Фінансовий менеджер{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'main/css/finance.css' %}">
<link rel="stylesheet" href="{% static 'main/css/categor.css' %}">

<div class="app-container">
    <!-- Main Screen -->
    <header class="header">
        <h1>Фінансовий трекер</h1>
    </header>
    <section class="balance-section">
        <h2>Ваш баланс: <span id="total-balance">0</span> PLN</h2>
    </section>
    <section class="chart">
        <div class="circle-chart">
            <span id="circle-total">0 PLN</span>
        </div>
    </section>
    <section class="details">
        <div id="records" class="records">Деталізація расходів</div>
    </section>
</div>

<!-- Sliding Panel -->
<div id="sliding-panel" class="sliding-panel hidden">
    <div class="header">
        <button class="tab active" id="expenses-tab">ВИТРАТИ</button>
        <button class="tab" id="income-tab">ДОХОДИ</button>
    </div>
    <div class="main">
        <div class="input-group">
            <input type="number" id="amount-input" placeholder="Введіть суму">
        </div>
        <div class="input-group">
            <input type="text" id="category-input" placeholder="Введіть категорію">
        </div>
        <button id="add-button-panel" class="add-button-panel">Додати</button>
    </div>
</div>

<!-- Floating Add Button -->
<button id="toggle-button" class="add-button">+</button>

    <script src="{% static 'main/js/swipe.js' %}"></script>
{% endblock %}
