{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вхід</title> 
    <link rel="stylesheet" href="{% static 'main/css/log.css' %}">
</head>
<body>
    <div class="log">
        <form method="post" action="{% url 'log' %}">
            {% csrf_token %}
            <h1>Увійти</h1>

            {% if error %}
                <p class="error">{{ error }}</p>
            {% endif %}
            
            <div class="input-box">
                <label for="username">Логін:</label>
                <input type="text" name="username" id="username" placeholder="Логін" required>
            </div>
            <div class="input-box">
                <label for="password">Пароль:</label>
                <input type="password" name="password" id="password" placeholder="Пароль" required>
            </div>
            <button type="submit" class="btn">Увійти</button>
            
        </form>
        <div class="register">
            Немає аккаунта? <a href="{% url 'reg' %}">Хочеш зареєструватися?</a>
        </div>
    </div>
</body>
</html>
