{% extends 'main/layout.html' %}
{% load static %}
{% block title %}Ту ду лист{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'main/css/todolist.css' %}">
<link rel="stylesheet" href="{% static 'main/js/todolist.js' %}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
</head>
<body>
    <div class="todo-container">
        <h1>To-Do List</h1>
        <form class="todo-form" id="todoForm">
            <input type="text" id="todoInput" placeholder="Введіть задачу" required>
            <button type="submit">Додати</button>
        </form>
        <ul class="todo-list" id="todoList"></ul>
    </div>
</body>
</html>
 {% endblock %}