
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #202020;
    color: #333;
}

.app-container {
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
    background-color: #007bff;
    color: black;
    padding: 15px;
    border-radius: 5px;
}

.header h1 {
    margin: 0;
    font-size: 1.8rem;
}

.balance-section {
    text-align: center;
    margin: 20px 0;
    padding: 15px;
    background-color: #f1f1f1;
    border-radius: 10px;
}

.balance-section h2 {
    margin: 0;
    font-size: 1.6rem;
    color: #007bff;
}

.tabs {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.tabs button {
    flex: 1;
    padding: 10px 0;
    border: none;
    background: none;
    color: #007bff;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.2s;
}

.tabs button.active {
    color: #333;
    border-bottom: 2px solid #007bff;
}

.chart {
    text-align: center;
    margin: 20px 0;
}

.circle-chart {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: #007bff;
    margin: 0 auto;
}

.details {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: black;
}

.detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background-color: #f1f1f1;
    border-radius: 5px;
    font-size: 0.9rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.add-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #007bff;
    color: white;
    font-size: 2rem;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.2s;
}

.add-button:hover {
    background-color: #0056b3;
    transform: scale(1.1);
}


