body {
    background: #202020;
    margin: 0;
    padding: 0;
}

aside {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background: #181818;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-right: 5px solid #4d4d4d;
    z-index: 1000;
    padding: 20px;
    box-sizing: border-box;
}

aside img {
    width: 80px;
    margin-bottom: 15px;
}

aside .logo {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
}

aside ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

aside ul a {
    text-decoration: none;
}

aside ul li {
    color: #fff;
    margin-bottom: 20px;
    transition: all 0.6s ease;
    cursor: pointer;
}

aside ul li:hover, aside ul a:hover {
    color: #eb5959;
    transform: scale(1.05);
}

main {
    margin-left: 270px;
    padding: 20px;
}

main .features {
    color: #fff;
    text-align: center;
}

main .features h1 {
    font-size: 50px;
}

main .features p {
    max-width: 400px;
    margin: 20px auto;
}

.light-theme {
    background: #ffffff;
    color: #000;
}

.light-theme aside {
    background: #1e90ff;
    color: #000;
    border-right: 5px solid #148fb8;
}

.light-theme aside ul li {
    color: #000;
}

.light-theme aside ul li:hover {
    color: #ff4d4d;
}

.light-theme main .features {
    color: #000;
}
