.progress-container {
    width: 300px;
    height: 30px;
    position: relative;
    color: #333;
    text-align: left;
}

.progress-label {
    position: absolute;
    top: 42%;
    left: 34%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    font-size: 20px;
    pointer-events: none;

}

progress {
    width: 200px;
    height: 30px;
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #f3f3f3;
}

progress::-webkit-progress-bar {
    background-color: #f3f3f3;
}

progress::-webkit-progress-value {
    background-color: #007bff;
}

progress::-moz-progress-bar {
    background-color: #007bff;
}

/* Стилі для контейнера задач */
.todo-container {
    margin: 0 auto;
    padding: 20px;
    background-color: #333;
    border-radius: 8px;
}

/* Заголовок */
h1 {
    text-align: center;
    font-size: 2rem;
    color: #ffffff;
}

.todo-form {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}

.todo-form input {
    flex: 1;
    /* Займає всю доступну ширину */
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    /* Відступ між полем і кнопкою */
    outline: none;
}

.todo-form input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

button[type="submit"] {
    padding: 10.1px 15px;
    /* font-size: 1rem; */
    background-color: #007bff;
    color: rgb(255, 255, 255);
    border-radius: 4px;
    cursor: pointer;
    align-self: stretch;
    /* Робить кнопку тієї ж висоти, що і текстове поле */
}

button[type="submit"]:hover {
    background-color: #0056b3;
}


/* Список задач */
.todo-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #333;
    margin-bottom: 10px;
    border-radius: 6px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.task-item:hover {
    background-color: #474747;
}

/*Стилі для тексту задачі */
.task-text {
    flex-grow: 1;
    font-size: 1.2rem;
    color: #ffffff;
}

/* Стилі для кнопки видалення */
button.btn-danger {
    background-color: #e74c3c;
    border: none;
    color: white;
    border-radius: 4px;
    padding: 11px 13px;
}

button.btn-danger:hover {
    background-color: #c0392b;
}

/*1312312*/
.task-actions {
    display: flex;
    gap: 10px;
    align-items: center;
}

.edit-button {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2rem;
    cursor: pointer;
}

.edit-button:hover {
    color: #007bff;
}